<div class="site-section bg-light">

  <div class="container">

    <div class="heading-with-border text-center mb-5">
      <h2 class="heading text-uppercase">Experts Trainer</h2>
    </div>

    <div class="row">

      <div class="col-lg-4 mb-4">
        <div class="block-trainer">
          <img src="assets/images/person_4.jpg" alt="Image" class="img-fluid">
          <div class="block-trainer-overlay">
            <h2>Jonah Smith</h2>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quas iste corporis asperiores placeat earum.</p>
            <p>
              <a href="#" class="p-2">
                <span class="icon-facebook"></span>
              </a>
              <a href="#" class="p-2">
                <span class="icon-twitter"></span>
              </a>
              <a href="#" class="p-2">
                <span class="icon-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="block-trainer">
          <img src="assets/images/person_3.jpg" alt="Image" class="img-fluid">
          <div class="block-trainer-overlay">
            <h2>Jonah Smith</h2>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quas iste corporis asperiores placeat earum.</p>
            <p>
              <a href="#" class="p-2">
                <span class="icon-facebook"></span>
              </a>
              <a href="#" class="p-2">
                <span class="icon-twitter"></span>
              </a>
              <a href="#" class="p-2">
                <span class="icon-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="block-trainer">
          <img src="assets/images/person_4.jpg" alt="Image" class="img-fluid">
          <div class="block-trainer-overlay">
            <h2>Jonah Smith</h2>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quas iste corporis asperiores placeat earum.</p>
            <p>
              <a href="#" class="p-2">
                <span class="icon-facebook"></span>
              </a>
              <a href="#" class="p-2">
                <span class="icon-twitter"></span>
              </a>
              <a href="#" class="p-2">
                <span class="icon-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="block-trainer">
          <img src="assets/images/person_3.jpg" alt="Image" class="img-fluid">
          <div class="block-trainer-overlay">
            <h2>Jonah Smith</h2>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quas iste corporis asperiores placeat earum.</p>
            <p>
              <a href="#" class="p-2">
                <span class="icon-facebook"></span>
              </a>
              <a href="#" class="p-2">
                <span class="icon-twitter"></span>
              </a>
              <a href="#" class="p-2">
                <span class="icon-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="block-trainer">
          <img src="assets/images/person_2.jpg" alt="Image" class="img-fluid">
          <div class="block-trainer-overlay">
            <h2>Jonah Smith</h2>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quas iste corporis asperiores placeat earum.</p>
            <p>
              <a href="#" class="p-2">
                <span class="icon-facebook"></span>
              </a>
              <a href="#" class="p-2">
                <span class="icon-twitter"></span>
              </a>
              <a href="#" class="p-2">
                <span class="icon-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="block-trainer">
          <img src="assets/images/person_1.jpg" alt="Image" class="img-fluid">
          <div class="block-trainer-overlay">
            <h2>Jonah Smith</h2>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quas iste corporis asperiores placeat earum.</p>
            <p>
              <a href="#" class="p-2">
                <span class="icon-facebook"></span>
              </a>
              <a href="#" class="p-2">
                <span class="icon-twitter"></span>
              </a>
              <a href="#" class="p-2">
                <span class="icon-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
