<div class="site-section bg-light">

  <div class="container">

    <div class="heading-with-border text-center mb-5">
      <h2 class="heading text-uppercase">Pending Fees</h2>
    </div>

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-sunday" role="tabpanel" aria-labelledby="pills-sunday-tab">
          <div class="row-wrap">
            <div class="row bg-white p-4 align-items-center">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <h3 class="h5">Kedar Paritkar</h3>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <span class="icon-clock-o mr-3"></span>30 April 2018</div>
            </div>
          </div>
        </div>
      </div>

  </div>

</div>
